<div class="card m-b-md">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4"><%= link_to event.title, event %></p>
                    <p class="subtitle">$<%= event.cover %></p>
                </div>
            </div>
        </div>
        <% if current_user.id == event.creator %>
        <footer class="card-footer">
            <%= link_to "Edit", event_edit_path(event), class: "card-footer-item"%>
            <%= link_to "Delete", event_confirmation_path(event), id: "eliminate",class: "card-footer-item"%>
        </footer>
        <%end%>
    </div>
