<%= content_for :page_title, "Index"%>
<%= content_for :page_subtitle, "All the upcoming events!"%>


<% if @events.empty? %>
    <h2 class="subtitle">Currently, there's no events nearby :-(</h2>
<%else%>
    <%= render @events %>
<% end %>
