/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";
@import "spacing";

html {
  height: 100vh;
}
body {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
.content_padding {
  padding-left: $size-4;
  padding-right: $size-4;
}
.is-justify-around {
  justify-content: space-around;
}
.is-align-center{
  align-items: center;
}
.menu {
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  &-item {
    @extend .navbar-item;
  }
  transition: transform 0.3s ease;
  li {
    list-style: none;
  }
  z-index: 100;
}
.open {
  transform: translateX(0);
}
a.navbar-item:hover {
  background: none;
}
.content{
  overflow: hidden;
}
.space{
  padding: .5rem;
}
.button-margin{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.hero-body{
  padding: 1.7rem 1.5rem;
}